/* #region < 1364px = 1365 / 16 = 85.25 = 85em */
@media (max-width: 85em) {
  /* header */

  /* hero */

  /* purpose */

  /* focus */
  .focus {
    column-gap: 3.2rem;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
  }

  .focus-img-box {
    align-self: center;
  }

  .focus-img {
    margin: 0;
  }

  .focus-text-box {
    align-self: center;
  }

  .focus-text-box p:nth-child(8) {
    margin: 0 !important;
  }

  .focus .subtitle {
    margin: 0;
  }

  /* origin */

  /* footer */
  .section-footer {
    padding: 0 3.2rem;
  }

  .footer {
    gap: 0;
  }

  .column-label {
    font-size: 1.8rem;
  }

  .journey-text {
    font-size: 1.4rem;
  }

  .contact-list li {
    font-size: 1.4rem;
  }

  .copyright {
    font-size: 1.4rem;
  }

  .contact-icon {
    width: 7rem;
    height: 7rem;
  }
}
/* #endregion < 1364px  */

/* #region < 1164px = 1164 / 16 = 72.75 = 73em */
@media (max-width: 73em) {
  /* header */
  .header-company-name {
    font-size: 1.6rem;
  }

  .nav-link {
    font-size: 1.2rem !important;
  }

  .heading-primary {
    font-size: 7.4rem;
  }

  .subheading {
    font-size: 2rem;
  }

  .heading-primary-description {
    font-size: 1.6rem;
  }
  /* hero */

  /* purpose */
  .subtitle {
    font-size: 1.5rem;
  }

  .heading-secondary {
    font-size: 4rem;

    margin-bottom: 4.8rem;
  }

  .heading-secondary-description {
    font-size: 1.6rem !important;

    margin-bottom: 2.4rem !important;
  }

  .heading-tertiary {
    font-size: 2rem !important;
  }

  /* focus */

  /* origin */

  /* footer */
  .column-label {
    margin-bottom: 2.4rem;
  }

  .journey-text {
    line-height: 160%;
  }

  .contact-list li {
    margin-bottom: 1rem !important;
  }

  .copyright {
    line-height: 160%;
  }

  .contact-icon {
    width: 5rem;
    height: 5rem;
  }

  .footer {
    row-gap: 2.4rem;
  }
}
/* #endregion < 1164px  */

/* #region < 960px = 960 / 16 = 60em */
@media (max-width: 60em) {
  /* header */

  /* hero */

  /* purpose */

  /* focus */
  .focus {
    column-gap: 3.2rem;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }

  .focus-img-box {
    align-self: center;
  }

  .focus-img {
    margin: 0;
  }

  .focus-text-box {
    align-self: center;
  }

  .focus-text-box p:nth-child(8) {
    margin: 0 !important;
  }

  .focus .subtitle {
    margin: 0;
  }

  /* origin */
  .origin {
    column-gap: 4.8rem;
  }

  /* footer */
  .footer {
    column-gap: 1.2rem;
  }

  .journey-text {
    color: transparent;
    height: 0;
  }

  .journey-text::before {
    content: "It is a humble beginning, but we believe that meaningful change often starts with small seeds.";
    color: #000;
  }
}
/* #endregion < 960px  */

/* #region < 760px = 760 / 16 = 48em */
@media (max-width: 48em) {
  /* header */

  /* hero */
  .heading-primary-description {
    color: transparent;
    height: 0;
  }

  .heading-primary-description::before {
    content: "A small journey exploring how faith, simple living, and care for the land can bring hope and renewal to communities.";
    color: #fff;
  }

  /* purpose */
  .section-purpose {
    margin-bottom: 4.8rem;
  }

  .purpose-text-box {
    position: static;
  }

  .purpose-floating {
    position: static;
    margin: 0;
  }

  .purpose-img-box::after {
    height: 0;
    width: 0;
  }

  .purpose.grid-cols-2 {
    display: flex;
    flex-direction: column;
  }

  /* focus */
  .section-focus {
    margin-bottom: 4.8rem;
  }

  .focus.grid-cols-2 {
    display: flex;
    flex-direction: column;
  }

  .focus-img-box {
    order: 2;
  }

  .focus-text-box {
    order: 1;
  }

  .focus-text-box p:nth-child(8) {
    margin-bottom: 1.6rem !important;
  }

  /* origin */
  .section-origin {
    margin-bottom: 4.8rem;
  }

  .origin.grid-cols-8 {
    display: flex;
    flex-direction: column;
  }

  .origin-text-box {
    order: 1;
  }

  .origin-img-box {
    order: 2;
  }

  /* footer */
  .section-footer {
    justify-content: end;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .footer-logo-box {
    grid-row: 1;
    grid-column: 1;
  }

  .follow-journey {
    grid-row: 1;
    grid-column: 2;
  }

  .contact-us {
    grid-row: 2;
    grid-column: 1;
  }

  .contact-icons {
    grid-row: 2;
    grid-column: 2;
  }

  .contact-icon {
    width: 5rem;
    height: 5rem;
  }

  .copyright {
    grid-row: 3;
    grid-column: span 2;
  }

  .footer-logo-box {
    gap: 1rem;
    justify-content: start;
  }

  .footer-logo {
    width: 8rem;
    height: 8rem;
  }

  .company-name {
    font-size: 2rem;
  }

  .column-label {
    font-size: 1.4rem;
  }

  .journey-text::before {
    font-size: 1.2rem;
  }

  .contact-list li {
    font-size: 1.2rem;
    line-height: 100%;
    letter-spacing: 10%;
  }
}
/* #endregion < 960px  */
